/* ============================= Responsividade — Mobile First ============================= */

:root {
  
  /* CORES DA PÁGINA */
  --bgcolor: #FFFFFF;
  --title: #74863C;
  --title-sec: #333333;
  --title-alt: #C2A83E;
  --fontc: #333333;
  --btn-fc: #FFFFFF;
  
  /* ESPAÇAMENTOS PADDING E MARGINS EM REM */
  --space-1: 0.5rem; /*  8px */
  --space-2: 1rem;   /* 16px */
  --space-3: 1.5rem; /* 24px */
  --space-4: 2rem;   /* 32px */
  --space-5: 2.5rem; /* 40px */
  --space-6: 3rem;   /* 48px */
  --space-7: 3.5rem; /* 56px */
  --space-8: 4rem;   /* 64px */
  --space-9: 5rem;   /* 80px */
  --space-10: 6rem;  /* 96px */
}
/*** RESET DO NAVEGADOR ***/
* { margin: 0; padding: 0; box-sizing: border-box; }



html, body {
  width: 100dvw;
  height: auto;
  scroll-behavior: smooth;
  font-size: 100%;
  font-family: 'Montserrat', Sans-Serif;
  color: var(--fontc);
  background-color: var(--bgcolor);
  line-height: 1.6;
}

main {
  width: 100dvw;
  height: auto;
  padding: var(--space-3) 0 var(--space-3);
}

footer { width: 100dvw; height: auto; }

section {
  max-width: 90%;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 auto var(--space-4);
  padding: var(--space-4) var(--space-3);
  border-radius: var(--space-3);
  border: 0.1rem solid #f0f0f0;
}

p {
  font-size: var(--space-2);
  line-height: 1.6;
  font-family: 'Montserrat', Sans-Serif;
  text-align: left;
  letter-spacing: 0.02em;
  margin: 0 auto var(--space-3);
}

p::selection {
    background: #c1d3c0;
    color: #fff;
}

a, nav, li {
  text-decoration: none;
  list-style: none;
  color: var(--fontc);
  height: auto;
}


/*** animação do coração ***/

@keyframes coracao { 
  0% {  transform: scale(1); }
  50% {  transform: scale(1.3); }
  100% {  transform: scale(1); } 
}

.ceo-coracao {
  animation-name: coracao;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;

}

/*** ANIMAÇÃO DE SCROLL DA PÁGINA ***/

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/*** AQUI INICIA TODOS OS ESTILOS MOBILE FIRST ***/

/** 
px → detalhes fixos (bordas, sombras, ícones)

% → tamanhos proporcionais ao container

rem → fontes e espaçamentos escaláveis

vw/vh → áreas que se adaptam ao tamanho da tela

×××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××
×××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××××

Use dvh/dvw no lugar de vh/vw para ocupar tela inteira.

Use % quando quiser que algo se ajuste ao pai.

Use rem para fontes e espaçamentos consistentes (respeita a acessibilidade).

Use px só para detalhes pequenos e controlados (ícones, bordas, etc).



**/

/* Header */

header.site-header {
   min-width: 100dvw;
   height: auto;
   margin-bottom: var(--space-3);
   position: relative;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 0 0 var(--space-3) var(--space-3);
}

div.background-overlay {
   position: absolute;
   min-width: 100%;
   min-height: 100%;
   background-image: linear-gradient(rgba(0,0,0,0.8), rgba(255,255,255,0.15)),url('./img-banner.jpg');
   background-size: cover;
   background-position: center top;
   opacity: 1;
   z-index: 1;
}

div.site-banner {
   position: relative;
   display: flex;
   top: 0;
   flex-direction: column;
   align-items: center;
   flex-wrap: nowrap;
   justify-content: center;
   z-index: 2;
}

img.logo-banner {
   max-width: 300px;
   height: auto;
   position: relative;
}

a.btn-banner {
   text-transform: uppercase;
   padding: 7px 20px;
   font-size: 0.800rem;
   border: 1.5px solid #fff;
   border-radius: 60px;
   background: rgba(0,0,0,0.2);
   color: var(--btn-fc);
   text-shadow: 0 1px 3px rgba(0,0,0,0.5);
   cursor: pointer;
   position: relative;
   font-family: 'Poppins', Sans-Serif;
   font-weight: 530;
   text-align: center;
   display: inline-block;
   text-decoration: none;
   top: -30px;
   transform: scale(1.1);
   opacity: 1;
   transition: 0.5s;
}

a.btn-banner:hover {
   transform: scale(1.0);
   opacity: 0.6;
   transition: 0.5s;
}

i { margin-left: 5px; margin-right: 5px; }


/* CONTEÚDOS DAS SECTIONS */

h3.s-title { 
   font-size: 1.25rem;
   text-align: center;
   color: var(--title);
   margin: 0 auto var(--space-4);
}

h3.s-t-mobile { display: block; font-size: var(--space-2); }
h3.s-t-desktop { display: none; } /*oculta o titulo do desktop*/

div.separador {
   min-width: 90%;
   display: block;
   height: 0.15rem;
   background-color: #c1d3c0;
   margin: var(--space-4) auto var(--space-4);
   border-radius: 0.075rem;
}

/* CONTEÚDO DA PRIMEIRA SECTION */

div.ft-container {
   max-width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.ft-container img {
   max-width: 210px;
   border-radius: 50%;
   margin: 0 auto var(--space-2);
   box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.ft-container h5 {
   font-size: 1.2rem;
   font-weight: 600;
   color: #6b7a;
}

.ft-container span {
   font-size: 0.70rem;
   font-style: italic;
   color: #6b7a6b;
}

section.s-sobre a {
   padding: var(--space-1) var(--space-2);
   text-align: center;
   font-size: var(--space-2);
   margin-top: var(--space-2);
   background: #6b7a;
   border-radius: var(--space-8);
   color: var(--btn-fc);
   transition: .7s;
}

section.s-sobre a:hover {
   background: #449354aa;
   color: #f3f3f3;
   transition: .7s;
}

/* oculta o botão veja mais do desktop no mobile */
a.vm-btn-desktop { display: none; }

/* CONTEÚDO DA SEGUNDA SEÇÃO */

section.s-produtos .s-title { color: var(--title-alt); }

section.s-produtos {
   width: 100%;
   max-width: 100vw; /* ocupa toda a tela */
   padding: var(--space-5) 0;
   display: flex;
   flex-direction: column;
   border-radius: 0;
   align-items: center;
   justify-content: center;
   background: #c1d3c0;
   overflow: hidden;
   border-top: 0.1rem solid #f0f0f0;
   border-bottom: 0.1rem solid #f0f0f0;
}

div.carousel {
   width: 90%;
   display: flex;
   overflow-x: hidden;
   scroll-behavior: smooth;
   position: relative;
}

div.carousel article.product {
   flex: 0 0 100%;
   margin-left: 1%;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: var(--space-4);
   background: #f8f8f8;
   border: 1px solid #ddd;
   border-radius: var(--space-2);
   text-align: center;
   transition: transform 0.3s ease;
}

article.product img {
   width: 100%;
   max-width: 250px;
   height: auto;
   border-radius: var(--space-1);
   object-fit: cover;
   transition: 0.5s;
}

article.product img:hover {
   transform: scale(1.1);
   transition: 0.5s;
   box-shadow: 0 0 0.5rem 0.1rem rgba(0,0,0,0.15);
   margin-bottom: 1rem;
}

article.product h4 {
   margin-top: var(--space-2);
   font-weight: 600;
   color: var(--title-alt);
}

article.product p {
   font-size: 0.9rem;
   max-width: 90%;
   text-align: center;
   margin: var(--space-2) auto;
}

article.product a {
   margin-top: var(--space-1);
   background: var(--title);
   color: #fff;
   padding: 0.5rem 1.5rem;
   border-radius: 50px;
   text-decoration: none;
   font-size: 0.9rem;
   transition: 0.3s ease;
}

article.product a:hover {
   background: #556626;
}

/* Dots */
.dots {
   display: flex;
   justify-content: center;
   gap: 0.5rem;
   margin-top: 1rem;
}

.dot {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background: /* #bbb */ #fff;
   transition: background 0.3s;
   cursor: pointer;
}

.dot.active {
   background: var(--title-alt);
}

/* Telas minúsculas não suportado(ex.: smartwatch) */

@media (max-width: 279px) {
   html {
      width: 100dvw;
      height: 100dvh;
      background: #000;
      color: #fff;
      font-weight: bold;
      font-family: Sans-Serif;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
   }
   
   html > * { display: none; }
   
   html::before {
      content: '⚠️ Não suportado em j2me/smartwatch';
      font-size: var(--space-2);
   }
}

/* Telas médias (ex.: tablets) */

@media (min-width: 600px) {
   img.logo-banner {
      max-width: 300px;
      height: auto;
      
   }
   
   header.site-header {;
   width: 100dvw;
   height: auto;
   }
   
   div.site-banner {
      height: auto;
   }
   
   div.separador { min-width: 70%; }
   
   
   section { max-width: 70%; height: auto; align-content: center; }
   
   section p {
      max-inline-size: 50ch;
   }
   
   div.carousel article.product {
      flex: 0 0 90%;
      margin: 0 2%;
   }
   
}

/* Telas grandes (ex.: desktops) */

@media (min-width: 1000px) {
   
   /* HEADER */
   header.site-header {
      max-width: 100dvw;
      max-height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
   }
   
   div.background-overlay {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      background-image: linear-gradient(rgba(0,0,0,0.8), rgba(255,255,255,0.15)),url('./img-banner.jpeg');
      background-size: cover;
      background-position: center top;
      opacity: 1;
      z-index: 1;
   }
   
   div.site-banner {
      padding: 0;
   }
   
   img.logo-banner {
      max-width: 350px;
      height: auto;
   }
   
   a.btn-banner {
      top: -40px;
      padding: 10px 40px;
   }
   
   /* CONTEÚDO PRINCIPAL E SEÇÕES */
   main {
      width: 100vw;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: var(--space-9);
   }
   
   section {
      max-width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--space-8) var(--space-6);
   }
   
   div.s-global-align {
      max-width: 95%;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      padding: var(--space-5);
      gap: var(--space-5);
   }
   
   p { max-width: 800px; font-size: var(--space-3); }
   
   div.s-g-sobre {
      max-width: 100%;
      padding: var(--space-3);
      height: 300px;
      border: 3px solid rgba(102,187,119,0.2);
      border-radius: var(--space-3);
      background: var(--bgcolor);
      overflow-x: scroll;
   }
   div.s-g-sobre p { max-width: 70ch; }
   
   section.s-sobre {
      align-content: center;
      margin: 0 auto;
      padding: 0;
   }
   
   div.ft-container {
      padding: var(--space-2);
      display: flex;
      flex: 0 1 100%;
      max-width: 30%;
      gap: var(--space-1)
   }
   div.ft-container img { max-width: 170px; margin: 0; }
   
   div.carousel article.product {
      flex: 0 0 70%;
      margin: 0 2%;
   }
   
   /* oculta o botão veja mais do mobile no desktop */
   div.ft-container a.vm-btn-desktop { display: block; margin: 0; }
   a.vm-btn-mobile { display: none; }
   
   h3.s-t-desktop {
      display: block;
      max-width: 100%;
      font-size: 1.3em;
      margin-bottom: var(--space-4);
      padding: 0;
      text-align: left;
   }
   
   h3.s-t-mobile { display: none; }
   
   h3.section-title { font-size: var(--space-3); }
   
   div.separador { display:none; }
   
}